In [ ]:
!pip install pyspark

from pyspark.sql import SparkSession

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.4.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
spark = SparkSession.builder.master("local[*]").getOrCreate() #Seteaza numarul de core-uri de utilizat (* = toate)

csv_path = "/content/Students/StudentsPerformance/" #Locatia datelor noastre

df = spark.read.csv(csv_path, header=True, inferSchema=True) #Incarcarea datelor din CSV intr-un dataframe Spark

# New section

In [ ]:
table_name = "my_table" #definirea unei variabile table_name
df.createOrReplaceTempView(table_name) #crearea unui view temporar
query = "SELECT * FROM my_table" #definirea unei interogari SQL
result = spark.sql(query) #rularea interogarii
result.show() #afisarea rezultatelor

+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+
|gender|race/ethnicity|parental level of education|       lunch|test preparation course|math score|reading score|writing score|
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+
|female|       group B|          bachelor's degree|    standard|                   none|        72|           72|           74|
|female|       group C|               some college|    standard|              completed|        69|           90|           88|
|female|       group B|            master's degree|    standard|                   none|        90|           95|           93|
|  male|       group A|         associate's degree|free/reduced|                   none|        47|           57|           44|
|  male|       group C|               some college|    standard|                   none|        76|           78|           75|
|female|       group B|         associate's degree|    standard|                   none|        71|           83|           78|
|female|       group B|               some college|    standard|              completed|        88|           95|           92|
|  male|       group B|               some college|free/reduced|                   none|        40|           43|           39|
|  male|       group D|                high school|free/reduced|              completed|        64|           64|           67|
|female|       group B|                high school|free/reduced|                   none|        38|           60|           50|
|  male|       group C|         associate's degree|    standard|                   none|        58|           54|           52|
|  male|       group D|         associate's degree|    standard|                   none|        40|           52|           43|
|female|       group B|                high school|    standard|                   none|        65|           81|           73|
|  male|       group A|               some college|    standard|              completed|        78|           72|           70|
|female|       group A|            master's degree|    standard|                   none|        50|           53|           58|
|female|       group C|           some high school|    standard|                   none|        69|           75|           78|
|  male|       group C|                high school|    standard|                   none|        88|           89|           86|
|female|       group B|           some high school|free/reduced|                   none|        18|           32|           28|
|  male|       group C|            master's degree|free/reduced|              completed|        46|           42|           46|
|female|       group C|         associate's degree|free/reduced|                   none|        54|           58|           61|
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+
only showing top 20 rows

In [ ]:
df.printSchema() #afisarea schemei datelor

root
 |-- gender: string (nullable = true)
 |-- race/ethnicity: string (nullable = true)
 |-- parental level of education: string (nullable = true)
 |-- lunch: string (nullable = true)
 |-- test preparation course: string (nullable = true)
 |-- math score: integer (nullable = true)
 |-- reading score: integer (nullable = true)
 |-- writing score: integer (nullable = true)

In [ ]:
df.describe().show()

+-------+------+--------------+---------------------------+------------+-----------------------+------------------+------------------+-----------------+
|summary|gender|race/ethnicity|parental level of education|       lunch|test preparation course|        math score|     reading score|    writing score|
+-------+------+--------------+---------------------------+------------+-----------------------+------------------+------------------+-----------------+
|  count|  1000|          1000|                       1000|        1000|                   1000|              1000|              1000|             1000|
|   mean|  null|          null|                       null|        null|                   null|            66.089|            69.169|           68.054|
| stddev|  null|          null|                       null|        null|                   null|15.163080096009454|14.600191937252223|15.19565701086966|
|    min|female|       group A|         associate's degree|free/reduced|              completed|                 0|                17|               10|
|    max|  male|       group E|           some high school|    standard|                   none|               100|               100|              100|
+-------+------+--------------+---------------------------+------------+-----------------------+------------------+------------------+-----------------+

In [ ]:
df = df.withColumnRenamed('parental level of education', 'parentEducation')
df = df.withColumnRenamed('test preparation course', 'preparationCourse')
df = df.withColumnRenamed('math score', 'mathScore')
df = df.withColumnRenamed('reading score', 'readingScore')
df = df.withColumnRenamed('writing score', 'writingScore')
df.describe().show()
df.write.format('csv').mode('overwrite').option('header', 'true').save('/content/Students/StudentsPerformanceFormatted')

+-------+------+--------------+------------------+------------+-----------------+------------------+------------------+-----------------+
|summary|gender|race/ethnicity|   parentEducation|       lunch|preparationCourse|         mathScore|      readingScore|     writingScore|
+-------+------+--------------+------------------+------------+-----------------+------------------+------------------+-----------------+
|  count|  1000|          1000|              1000|        1000|             1000|              1000|              1000|             1000|
|   mean|  null|          null|              null|        null|             null|            66.089|            69.169|           68.054|
| stddev|  null|          null|              null|        null|             null|15.163080096009454|14.600191937252223|15.19565701086966|
|    min|female|       group A|associate's degree|free/reduced|        completed|                 0|                17|               10|
|    max|  male|       group E|  some high school|    standard|             none|               100|               100|              100|
+-------+------+--------------+------------------+------------+-----------------+------------------+------------------+-----------------+

In [ ]:
csv_path = "/content/Students/StudentsPerformanceFormatted" #salvam locatia csv-ului formatat intr-o noua variabila
df = spark.read.csv(csv_path, header=True, inferSchema=True) #incarcam noile date
from pyspark.sql.functions import col, round, format_number, when #importam lucrul cu coloane

df = df.withColumn('finalScore', (col('mathScore') + col('readingScore') + col('writingScore'))/3) #mai adaugam o coloana care determina media generala
df = df.withColumn('finalScore', format_number(col('finalScore'), 2)) #afisam doar 2 decimale in aceasta noua coloana
df = df.withColumn('admited', when(col('finalScore') > 50 , True).otherwise(False))#mai adaugam o coloana care va afisa true pentru cazul in care studentul a fost admis(finalScore > 50) sau false pentru cazul in care nu a fost admis(finalScore < 50)
df.show()#afisam rezultatele
#Salvam dataframe-ul modificat 
df.write.mode('overwrite').format('csv').option('header', 'true').save('/content/Students/StudentsPerformanceFormatted2')

+------+--------------+------------------+------------+-----------------+---------+------------+------------+----------+-------+
|gender|race/ethnicity|   parentEducation|       lunch|preparationCourse|mathScore|readingScore|writingScore|finalScore|admited|
+------+--------------+------------------+------------+-----------------+---------+------------+------------+----------+-------+
|female|       group B| bachelor's degree|    standard|             none|       72|          72|          74|     72.67|   true|
|female|       group C|      some college|    standard|        completed|       69|          90|          88|     82.33|   true|
|female|       group B|   master's degree|    standard|             none|       90|          95|          93|     92.67|   true|
|  male|       group A|associate's degree|free/reduced|             none|       47|          57|          44|     49.33|  false|
|  male|       group C|      some college|    standard|             none|       76|          78|          75|     76.33|   true|
|female|       group B|associate's degree|    standard|             none|       71|          83|          78|     77.33|   true|
|female|       group B|      some college|    standard|        completed|       88|          95|          92|     91.67|   true|
|  male|       group B|      some college|free/reduced|             none|       40|          43|          39|     40.67|  false|
|  male|       group D|       high school|free/reduced|        completed|       64|          64|          67|     65.00|   true|
|female|       group B|       high school|free/reduced|             none|       38|          60|          50|     49.33|  false|
|  male|       group C|associate's degree|    standard|             none|       58|          54|          52|     54.67|   true|
|  male|       group D|associate's degree|    standard|             none|       40|          52|          43|     45.00|  false|
|female|       group B|       high school|    standard|             none|       65|          81|          73|     73.00|   true|
|  male|       group A|      some college|    standard|        completed|       78|          72|          70|     73.33|   true|
|female|       group A|   master's degree|    standard|             none|       50|          53|          58|     53.67|   true|
|female|       group C|  some high school|    standard|             none|       69|          75|          78|     74.00|   true|
|  male|       group C|       high school|    standard|             none|       88|          89|          86|     87.67|   true|
|female|       group B|  some high school|free/reduced|             none|       18|          32|          28|     26.00|  false|
|  male|       group C|   master's degree|free/reduced|        completed|       46|          42|          46|     44.67|  false|
|female|       group C|associate's degree|free/reduced|             none|       54|          58|          61|     57.67|   true|
+------+--------------+------------------+------------+-----------------+---------+------------+------------+----------+-------+
only showing top 20 rows

In [ ]:
df.printSchema() #afisarea schemei datelor

In [ ]:

 
#salvam locatia csv-ului formatat intr-o noua variabila
csv_path = "/content/Students/StudentsPerformanceFormatted2"

#incarcam noile date
df = spark.read.csv(csv_path, header=True, inferSchema=True) 

df.show()

SPARK SQL

1.Sa se afiseze toti studenții care nu au obținut o nota de trecere la matematica ordonand de la cea mai mica nota

In [ ]:
df.createOrReplaceTempView("students")

result = spark.sql("SELECT * FROM students WHERE mathScore < 50 ORDER BY mathScore ASC")

result.show()

+------+--------------+------------------+------------+-----------------+---------+------------+------------+----------+-------+
|gender|race/ethnicity|   parentEducation|       lunch|preparationCourse|mathScore|readingScore|writingScore|finalScore|admited|
+------+--------------+------------------+------------+-----------------+---------+------------+------------+----------+-------+
|female|       group C|  some high school|free/reduced|             none|        0|          17|          10|      9.00|  false|
|female|       group B|       high school|free/reduced|             none|        8|          24|          23|     18.33|  false|
|female|       group B|  some high school|free/reduced|             none|       18|          32|          28|     26.00|  false|
|female|       group B|      some college|    standard|             none|       19|          38|          32|     29.67|  false|
|female|       group C|      some college|free/reduced|             none|       22|          39|          33|     31.33|  false|
|female|       group B|       high school|free/reduced|        completed|       23|          44|          36|     34.33|  false|
|female|       group B|  some high school|free/reduced|             none|       24|          38|          27|     29.67|  false|
|female|       group D|associate's degree|free/reduced|             none|       26|          31|          38|     31.67|  false|
|  male|       group C|       high school|free/reduced|             none|       27|          34|          36|     32.33|  false|
|female|       group D|  some high school|free/reduced|             none|       27|          34|          32|     31.00|  false|
|  male|       group A|      some college|free/reduced|             none|       28|          23|          19|     23.33|  false|
|female|       group C|       high school|    standard|             none|       29|          29|          30|     29.33|  false|
|female|       group D| bachelor's degree|free/reduced|             none|       29|          41|          47|     39.00|  false|
|female|       group C|  some high school|free/reduced|        completed|       29|          40|          44|     37.67|  false|
|  male|       group E|  some high school|    standard|             none|       30|          26|          22|     26.00|  false|
|  male|       group B|       high school|free/reduced|             none|       30|          24|          15|     23.00|  false|
|female|       group C|      some college|free/reduced|             none|       32|          39|          33|     34.67|  false|
|female|       group B|  some high school|    standard|        completed|       32|          51|          44|     42.33|  false|
|female|       group E|  some high school|free/reduced|             none|       32|          34|          38|     34.67|  false|
|female|       group C|       high school|free/reduced|             none|       33|          41|          43|     39.00|  false|
+------+--------------+------------------+------------+-----------------+---------+------------+------------+----------+-------+
only showing top 20 rows

2.Sa se afiseze studentii care nu au fost admiși și nivelul de pregătire al părinților

In [ ]:
result = spark.sql("SELECT admited, parentEducation FROM students WHERE admited == 'false' ORDER BY parentEducation")

result.show()

+-------+------------------+
|admited|   parentEducation|
+-------+------------------+
|  false|associate's degree|
|  false|associate's degree|
|  false|associate's degree|
|  false|associate's degree|
|  false|associate's degree|
|  false|associate's degree|
|  false|associate's degree|
|  false|associate's degree|
|  false|associate's degree|
|  false|associate's degree|
|  false|associate's degree|
|  false|associate's degree|
|  false|associate's degree|
|  false|associate's degree|
|  false|associate's degree|
|  false|associate's degree|
|  false|associate's degree|
|  false|associate's degree|
|  false|associate's degree|
|  false|associate's degree|
+-------+------------------+
only showing top 20 rows

3. Sa se afiseze numarul de studenti care au fost admisi

In [ ]:
result = spark.sql("SELECT COUNT(*) AS TotalAdmisi FROM students WHERE admited == 'true'")

result.show()

+-----------+
|TotalAdmisi|
+-----------+
|        880|
+-----------+

4. Sa se afiseze numarul total de studenti respinsi

In [ ]:
result = spark.sql("SELECT COUNT(*) AS TotalRespinsi FROM students WHERE admited == 'false'")

result.show()

+-------------+
|TotalRespinsi|
+-------------+
|          120|
+-------------+

5. Sa se afișeze studenții care nu au fost admiși dar, totuși, au urmat cursul de pregătire

In [ ]:
result = spark.sql("SELECT * FROM students WHERE admited == 'false' AND preparationCourse == 'completed' ")

result.show()

+------+--------------+------------------+------------+-----------------+---------+------------+------------+----------+-------+
|gender|race/ethnicity|   parentEducation|       lunch|preparationCourse|mathScore|readingScore|writingScore|finalScore|admited|
+------+--------------+------------------+------------+-----------------+---------+------------+------------+----------+-------+
|  male|       group C|   master's degree|free/reduced|        completed|       46|          42|          46|     44.67|  false|
|  male|       group A|      some college|free/reduced|        completed|       50|          47|          54|     50.33|  false|
|  male|       group C|associate's degree|free/reduced|        completed|       43|          45|          50|     46.00|  false|
|  male|       group B|       high school|    standard|        completed|       60|          44|          47|     50.33|  false|
|  male|       group C|  some high school|free/reduced|        completed|       53|          37|          40|     43.33|  false|
|  male|       group B|  some high school|    standard|        completed|       51|          54|          41|     48.67|  false|
|female|       group E|      some college|free/reduced|        completed|       42|          55|          54|     50.33|  false|
|female|       group C| bachelor's degree|free/reduced|        completed|       43|          51|          54|     49.33|  false|
|  male|       group C|  some high school|free/reduced|        completed|       45|          52|          49|     48.67|  false|
|  male|       group A|  some high school|    standard|        completed|       47|          49|          49|     48.33|  false|
|  male|       group A|  some high school|    standard|        completed|       46|          41|          43|     43.33|  false|
|  male|       group C|       high school|free/reduced|        completed|       40|          46|          50|     45.33|  false|
|female|       group D|  some high school|free/reduced|        completed|       35|          55|          60|     50.00|  false|
|  male|       group C|      some college|free/reduced|        completed|       50|          48|          53|     50.33|  false|
|  male|       group A|associate's degree|free/reduced|        completed|       40|          55|          53|     49.33|  false|
|female|       group C|  some high school|    standard|        completed|       44|          51|          55|     50.00|  false|
|female|       group C|  some high school|free/reduced|        completed|       29|          40|          44|     37.67|  false|
|female|       group B|  some high school|    standard|        completed|       32|          51|          44|     42.33|  false|
|  male|       group E|      some college|free/reduced|        completed|       49|          52|          51|     50.67|  false|
|female|       group B|       high school|free/reduced|        completed|       23|          44|          36|     34.33|  false|
+------+--------------+------------------+------------+-----------------+---------+------------+------------+----------+-------+
only showing top 20 rows