In [31]:
!pip install pyspark

from pyspark.sql import SparkSession

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.4.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [32]:
spark = SparkSession.builder.master("local[*]").getOrCreate() #Seteaza numarul de core-uri de utilizat (* = toate)

csv_path = "/content/Students/StudentsPerformance/" #Locatia datelor noastre

df = spark.read.csv(csv_path, header=True, inferSchema=True) #Incarcarea datelor din CSV intr-un dataframe Spark

# New section

In [33]:
table_name = "my_table" #definirea unei variabile table_name
df.createOrReplaceTempView(table_name) #crearea unui view temporar
query = "SELECT * FROM my_table" #definirea unei interogari SQL
result = spark.sql(query) #rularea interogarii
result.show() #afisarea rezultatelor

+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+
|gender|race/ethnicity|parental level of education|       lunch|test preparation course|math score|reading score|writing score|
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+
|female|       group B|          bachelor's degree|    standard|                   none|        72|           72|           74|
|female|       group C|               some college|    standard|              completed|        69|           90|           88|
|female|       group B|            master's degree|    standard|                   none|        90|           95|           93|
|  male|       group A|         associate's degree|free/reduced|                   none|        47|           57|           44|
|  male|       group C|               some college|    standard|                   none|        76|           78|           75|
|female|       group B|         associate's degree|    standard|                   none|        71|           83|           78|
|female|       group B|               some college|    standard|              completed|        88|           95|           92|
|  male|       group B|               some college|free/reduced|                   none|        40|           43|           39|
|  male|       group D|                high school|free/reduced|              completed|        64|           64|           67|
|female|       group B|                high school|free/reduced|                   none|        38|           60|           50|
|  male|       group C|         associate's degree|    standard|                   none|        58|           54|           52|
|  male|       group D|         associate's degree|    standard|                   none|        40|           52|           43|
|female|       group B|                high school|    standard|                   none|        65|           81|           73|
|  male|       group A|               some college|    standard|              completed|        78|           72|           70|
|female|       group A|            master's degree|    standard|                   none|        50|           53|           58|
|female|       group C|           some high school|    standard|                   none|        69|           75|           78|
|  male|       group C|                high school|    standard|                   none|        88|           89|           86|
|female|       group B|           some high school|free/reduced|                   none|        18|           32|           28|
|  male|       group C|            master's degree|free/reduced|              completed|        46|           42|           46|
|female|       group C|         associate's degree|free/reduced|                   none|        54|           58|           61|
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+
only showing top 20 rows

In [34]:
df.printSchema() #afisarea schemei datelor

root
 |-- gender: string (nullable = true)
 |-- race/ethnicity: string (nullable = true)
 |-- parental level of education: string (nullable = true)
 |-- lunch: string (nullable = true)
 |-- test preparation course: string (nullable = true)
 |-- math score: integer (nullable = true)
 |-- reading score: integer (nullable = true)
 |-- writing score: integer (nullable = true)

In [35]:
df.describe().show()

+-------+------+--------------+---------------------------+------------+-----------------------+------------------+------------------+-----------------+
|summary|gender|race/ethnicity|parental level of education|       lunch|test preparation course|        math score|     reading score|    writing score|
+-------+------+--------------+---------------------------+------------+-----------------------+------------------+------------------+-----------------+
|  count|  1000|          1000|                       1000|        1000|                   1000|              1000|              1000|             1000|
|   mean|  null|          null|                       null|        null|                   null|            66.089|            69.169|           68.054|
| stddev|  null|          null|                       null|        null|                   null|15.163080096009454|14.600191937252223|15.19565701086966|
|    min|female|       group A|         associate's degree|free/reduced|              completed|                 0|                17|               10|
|    max|  male|       group E|           some high school|    standard|                   none|               100|               100|              100|
+-------+------+--------------+---------------------------+------------+-----------------------+------------------+------------------+-----------------+

In [36]:
df = df.withColumnRenamed('parental level of education', 'parentEducation')
df = df.withColumnRenamed('test preparation course', 'preparationCourse')
df = df.withColumnRenamed('math score', 'mathScore')
df = df.withColumnRenamed('reading score', 'readingScore')
df = df.withColumnRenamed('writing score', 'writingScore')
df.describe().show()
df.write.format('csv').mode('overwrite').option('header', 'true').save('/content/Students/StudentsPerformanceFormatted')

+-------+------+--------------+------------------+------------+-----------------+------------------+------------------+-----------------+
|summary|gender|race/ethnicity|   parentEducation|       lunch|preparationCourse|         mathScore|      readingScore|     writingScore|
+-------+------+--------------+------------------+------------+-----------------+------------------+------------------+-----------------+
|  count|  1000|          1000|              1000|        1000|             1000|              1000|              1000|             1000|
|   mean|  null|          null|              null|        null|             null|            66.089|            69.169|           68.054|
| stddev|  null|          null|              null|        null|             null|15.163080096009454|14.600191937252223|15.19565701086966|
|    min|female|       group A|associate's degree|free/reduced|        completed|                 0|                17|               10|
|    max|  male|       group E|  some high school|    standard|             none|               100|               100|              100|
+-------+------+--------------+------------------+------------+-----------------+------------------+------------------+-----------------+

In [46]:
csv_path = "/content/Students/StudentsPerformanceFormatted" #salvam locatia csv-ului formatat intr-o noua variabila
df = spark.read.csv(csv_path, header=True, inferSchema=True) #incarcam noile date
from pyspark.sql.functions import col, round, format_number, when #importam lucrul cu coloane

df = df.withColumn('finalScore', (col('mathScore') + col('readingScore') + col('writingScore'))/3) #mai adaugam o coloana care determina media generala
df = df.withColumn('finalScore', format_number(col('finalScore'), 2)) #afisam doar 2 decimale in aceasta noua coloana
df = df.withColumn('admited', when(col('finalScore') > 50, True).otherwise(False))#mai adaugam o coloana care va afisa true pentru cazul in care studentul a fost admis(finalScore > 50) sau false pentru cazul in care nu a fost admis(finalScore < 50)
df.show()#afisam rezultatele
#Salvam dataframe-ul modificat 
df.write.mode('overwrite').format('csv').option('header', 'true').save('/content/Students/StudentsPerformanceFormatted2')

+------+--------------+------------------+------------+-----------------+---------+------------+------------+----------+-------+
|gender|race/ethnicity|   parentEducation|       lunch|preparationCourse|mathScore|readingScore|writingScore|finalScore|admited|
+------+--------------+------------------+------------+-----------------+---------+------------+------------+----------+-------+
|female|       group B| bachelor's degree|    standard|             none|       72|          72|          74|     72.67|   true|
|female|       group C|      some college|    standard|        completed|       69|          90|          88|     82.33|   true|
|female|       group B|   master's degree|    standard|             none|       90|          95|          93|     92.67|   true|
|  male|       group A|associate's degree|free/reduced|             none|       47|          57|          44|     49.33|  false|
|  male|       group C|      some college|    standard|             none|       76|          78|          75|     76.33|   true|
|female|       group B|associate's degree|    standard|             none|       71|          83|          78|     77.33|   true|
|female|       group B|      some college|    standard|        completed|       88|          95|          92|     91.67|   true|
|  male|       group B|      some college|free/reduced|             none|       40|          43|          39|     40.67|  false|
|  male|       group D|       high school|free/reduced|        completed|       64|          64|          67|     65.00|   true|
|female|       group B|       high school|free/reduced|             none|       38|          60|          50|     49.33|  false|
|  male|       group C|associate's degree|    standard|             none|       58|          54|          52|     54.67|   true|
|  male|       group D|associate's degree|    standard|             none|       40|          52|          43|     45.00|  false|
|female|       group B|       high school|    standard|             none|       65|          81|          73|     73.00|   true|
|  male|       group A|      some college|    standard|        completed|       78|          72|          70|     73.33|   true|
|female|       group A|   master's degree|    standard|             none|       50|          53|          58|     53.67|   true|
|female|       group C|  some high school|    standard|             none|       69|          75|          78|     74.00|   true|
|  male|       group C|       high school|    standard|             none|       88|          89|          86|     87.67|   true|
|female|       group B|  some high school|free/reduced|             none|       18|          32|          28|     26.00|  false|
|  male|       group C|   master's degree|free/reduced|        completed|       46|          42|          46|     44.67|  false|
|female|       group C|associate's degree|free/reduced|             none|       54|          58|          61|     57.67|   true|
+------+--------------+------------------+------------+-----------------+---------+------------+------------+----------+-------+
only showing top 20 rows

In [49]:
df.printSchema() #afisarea schemei datelor

root
 |-- gender: string (nullable = true)
 |-- race/ethnicity: string (nullable = true)
 |-- parentEducation: string (nullable = true)
 |-- lunch: string (nullable = true)
 |-- preparationCourse: string (nullable = true)
 |-- mathScore: integer (nullable = true)
 |-- readingScore: integer (nullable = true)
 |-- writingScore: integer (nullable = true)
 |-- finalScore: double (nullable = true)
 |-- admited: boolean (nullable = true)

In [62]:

 
#salvam locatia csv-ului formatat intr-o noua variabila
csv_path = "/content/Students/StudentsPerformanceFormatted2"

#incarcam noile date
df = spark.read.csv(csv_path, header=True, inferSchema=True) 

df.show()

+------+--------------+------------------+------------+-----------------+---------+------------+------------+----------+-------+
|gender|race/ethnicity|   parentEducation|       lunch|preparationCourse|mathScore|readingScore|writingScore|finalScore|admited|
+------+--------------+------------------+------------+-----------------+---------+------------+------------+----------+-------+
|female|       group B| bachelor's degree|    standard|             none|       72|          72|          74|     72.67|   true|
|female|       group C|      some college|    standard|        completed|       69|          90|          88|     82.33|   true|
|female|       group B|   master's degree|    standard|             none|       90|          95|          93|     92.67|   true|
|  male|       group A|associate's degree|free/reduced|             none|       47|          57|          44|     49.33|  false|
|  male|       group C|      some college|    standard|             none|       76|          78|          75|     76.33|   true|
|female|       group B|associate's degree|    standard|             none|       71|          83|          78|     77.33|   true|
|female|       group B|      some college|    standard|        completed|       88|          95|          92|     91.67|   true|
|  male|       group B|      some college|free/reduced|             none|       40|          43|          39|     40.67|  false|
|  male|       group D|       high school|free/reduced|        completed|       64|          64|          67|      65.0|   true|
|female|       group B|       high school|free/reduced|             none|       38|          60|          50|     49.33|  false|
|  male|       group C|associate's degree|    standard|             none|       58|          54|          52|     54.67|   true|
|  male|       group D|associate's degree|    standard|             none|       40|          52|          43|      45.0|  false|
|female|       group B|       high school|    standard|             none|       65|          81|          73|      73.0|   true|
|  male|       group A|      some college|    standard|        completed|       78|          72|          70|     73.33|   true|
|female|       group A|   master's degree|    standard|             none|       50|          53|          58|     53.67|   true|
|female|       group C|  some high school|    standard|             none|       69|          75|          78|      74.0|   true|
|  male|       group C|       high school|    standard|             none|       88|          89|          86|     87.67|   true|
|female|       group B|  some high school|free/reduced|             none|       18|          32|          28|      26.0|  false|
|  male|       group C|   master's degree|free/reduced|        completed|       46|          42|          46|     44.67|  false|
|female|       group C|associate's degree|free/reduced|             none|       54|          58|          61|     57.67|   true|
+------+--------------+------------------+------------+-----------------+---------+------------+------------+----------+-------+
only showing top 20 rows

SPARK SQL

1.Sa se afiseze toti studenții care nu au obținut o nota de trecere la matematica

In [61]:
df.createOrReplaceTempView("students")

result = spark.sql("SELECT * FROM students WHERE mathScore < 50 ORDER BY finalScore DESC")

result.show()

+------+--------------+-----------------+------------+-----------------+---------+------------+------------+----------+-------+
|gender|race/ethnicity|  parentEducation|       lunch|preparationCourse|mathScore|readingScore|writingScore|finalScore|admited|
+------+--------------+-----------------+------------+-----------------+---------+------------+------------+----------+-------+
|female|       group C|     some college|free/reduced|        completed|       45|          73|          70|     62.67|   true|
|female|       group A| some high school|    standard|             none|       48|          66|          65|     59.67|   true|
|female|       group C|     some college|free/reduced|        completed|       42|          66|          69|      59.0|   true|
|female|       group C|     some college|free/reduced|             none|       46|          64|          66|     58.67|   true|
|female|       group D|     some college|free/reduced|             none|       49|          65|          61|     58.33|   true|
|female|       group C|bachelor's degree|free/reduced|        completed|       47|          62|          66|     58.33|   true|
|female|       group D|  master's degree|free/reduced|        completed|       47|          58|          67|     57.33|   true|
|female|       group B|      high school|    standard|             none|       48|          62|          60|     56.67|   true|
|female|       group A|     some college|free/reduced|             none|       49|          65|          55|     56.33|   true|
|female|       group C|bachelor's degree|free/reduced|             none|       44|          63|          62|     56.33|   true|
|female|       group D| some high school|free/reduced|        completed|       40|          65|          64|     56.33|   true|
|female|       group C| some high school|    standard|             none|       49|          63|          56|      56.0|   true|
|female|       group A|bachelor's degree|    standard|             none|       45|          59|          64|      56.0|   true|
|female|       group D|      high school|    standard|             none|       45|          63|          59|     55.67|   true|
|  male|       group A|bachelor's degree|free/reduced|        completed|       49|          58|          60|     55.67|   true|
|female|       group D|     some college|free/reduced|             none|       49|          58|          60|     55.67|   true|
|female|       group A| some high school|free/reduced|             none|       44|          64|          58|     55.33|   true|
|female|       group C|bachelor's degree|free/reduced|             none|       43|          62|          61|     55.33|   true|
|female|       group C|      high school|free/reduced|             none|       42|          62|          60|     54.67|   true|
|female|       group B|     some college|free/reduced|        completed|       48|          56|          58|      54.0|   true|
+------+--------------+-----------------+------------+-----------------+---------+------------+------------+----------+-------+
only showing top 20 rows